  .c1-1  { 
      letter-spacing: normal;
  } 
  
  .c1-2  { 
      text-transform: none;
  } 
  
  .c1-b  { 
      font-family: 'Source Sans Pro', arial, sans-serif;
  } 
  
  .c1-c  { 
      font-size: 16px;
  } 
  
  .x .c1-6z { 
      background-color: rgb(0, 0, 0);
  } 
  
  @media (min-width: 768px){ 
    .c1-d  { 
      font-size: 16px;
    } 
  }     
  
  @media (min-width: 1024px){ 
    .c1-e  { 
      font-size: 16px;
    } 
  }     
  
  @media (min-width: 1280px){ 
    .c1-f  { 
      font-size: 16px;
    } 
  }     
  
  .page-inner { 
      background-color: rgb(0, 0, 0); 
      min-height: 100vh;
  } 
  
  .x .c1-5 > div  { 
      position: relative;
  } 
  
  .x .c1-6 > div  { 
      overflow: hidden;
  } 
  
  .x .c1-7 > div  { 
      margin-top: auto;
  } 
  
  .x .c1-8 > div  { 
      margin-right: auto;
  } 
  
  .x .c1-9 > div  { 
      margin-bottom: auto;
  } 
  
  .x .c1-a > div  { 
      margin-left: auto;
  } 
  
  .x .c1-3 { 
      background-color: rgb(255, 255, 255);
  } 
  
  .c1-4  { 
      width: 100%;
  } 
  
  .x { 
      -ms-text-size-adjust:  100%; 
      -webkit-text-size-adjust:  100%; 
      -webkit-tap-highlight-color:  rgba(0,0,0,0); 
      margin:  0; 
      box-sizing:  border-box;
      -webkit-font-smoothing: antialiased;
  } 
  
  .x-el-section { 
      display: block;
  } 
  
  .x .c1-i { 
      padding-top: 56px;
  } 
  
  .x .c1-j { 
      padding-bottom: 56px;
  } 
  
  * ,:after ,:before  { 
      box-sizing: inherit;
  } 
  
  .c1-s  { 
      margin-right: auto;
  } 
  
  .c1-u  { 
      margin-left: auto;
  } 
  
  
  .c1-23  { 
      padding-left: 24px;
  } 
  
  .c1-24  { 
      padding-right: 24px;
  } 
  
  @media (min-width: 768px){ 
    .c1-4k  { 
      width: 100%;
    } 
  }     
  
  @media (min-width: 1024px){ 
    .c1-4l  { 
      width: 984px;
    } 
  }     
  
  @media (min-width: 1280px){ 
    .c1-4q  { 
      width: 1160px;
    } 
  }     
  
  .c1-r  { 
      margin-top: 0;
  } 
  
  .c1-t  { 
      margin-bottom: 0;
  } 
  
  .x .c1-1r { 
      display: flex;
  } 
  
  .c1-2g  { 
      text-align: center;
  } 
  
  .x .c1-3q { 
      box-sizing: border-box;
  } 
  
  .x .c1-3r { 
      flex-direction: row;
  } 
  
  .x .c1-60 { 
      flex-wrap: wrap;
  } 
  
  .x .c1-70 { 
      margin-right: -12px;
  } 
  
  .x .c1-71 { 
      margin-left: -12px;
  } 
  
  @media (min-width: 768px){ 
    .x .c1-72 { 
      margin-top: 0;
    } 
  
    .x .c1-73 { 
      margin-right: -24px;
    } 
  
    .x .c1-74 { 
      margin-bottom: 0;
    } 
  
    .x .c1-75 { 
      margin-left: -24px;
    } 
  }     
  
  .x .c1-1d { 
      padding-top: 0px;
  } 
  
  .x .c1-1f { 
      padding-bottom: 0px;
  } 
  
  .x .c1-3t { 
      flex-grow: 1;
  } 
  
  .x .c1-3u { 
      flex-shrink: 1;
  } 
  
  .x .c1-3v { 
      flex-basis: 0%;
  } 
  
  .x .c1-76 { 
      padding-right: 12px;
  } 
  
  .x .c1-77 { 
      padding-left: 12px;
  } 
  
  @media (min-width: 768px){ 
    .x .c1-78 { 
      margin-left: 8.333333333333332%;
    } 
  
    .x .c1-79 { 
      flex-basis: 83.33333333333334%;
    } 
  
    .x .c1-7a { 
      max-width: 83.33333333333334%;
    } 
  
    .x .c1-7b { 
      padding-top: 0;
    } 
  
    .x .c1-7c { 
      padding-right: 24px;
    } 
  
    .x .c1-7d { 
      padding-bottom: 0;
    } 
  
    .x .c1-7e { 
      padding-left: 24px;
    } 
  }     
  
  @media (min-width: 1024px){ 
    .x .c1-7f { 
      margin-left: 16.666666666666664%;
    } 
  
    .x .c1-7g { 
      flex-basis: 66.66666666666666%;
    } 
  
    .x .c1-7h { 
      max-width: 66.66666666666666%;
    } 
  }     
  
  .c1-2c  { 
      margin-right: 0px;
  } 
  
  .c1-2i  { 
      overflow-wrap: break-word;
  } 
  
  .c1-2t  { 
      word-wrap: break-word;
  } 
  
  .c1-49  { 
      font-weight: 400;
  } 
  
  .c1-52  { 
      font-size: 40px;
  } 
  
  .c1-7n  { 
      color: rgb(242, 5, 48);
  } 
  
  .c1-8z  { 
      line-height: 1.4;
  } 
  
  @media (min-width: 768px){ 
    .c1-57  { 
      font-size: 48px;
    } 
  }     
  
  @media (min-width: 1024px){ 
    .c1-4j  { 
      margin-bottom: 0px;
    } 
  
    .c1-4n  { 
      margin-left: auto;
    } 
  
    .c1-4x  { 
      text-align: center;
    } 
  
    .c1-58  { 
      font-size: 48px;
    } 
  }     
  
  @media (min-width: 1280px){ 
    .c1-59  { 
      font-size: 62px;
    } 
  }     
  
  .c1-90  { 
      margin-bottom: 40px;
  } 
  
  .c1-95  { 
      line-height: 0px;
  } 
  
  .x-el-hr { 
      box-sizing:  content-box; 
      height:  0;
      border: 0;
  } 
  
  .c1-11  { 
      border-style: solid;
  } 
  
  .c1-2l  { 
      display: inline-block;
  } 
  
  .c1-5y  { 
      margin-top: 24px;
  } 
  
  .c1-8r  { 
      border-bottom-width: 2px;
  } 
  
  .c1-96  { 
      border-color: rgb(27, 27, 27);
  } 
  
  .c1-97  { 
      width: 50px;
  } 
  
  .c2-1  { 
      letter-spacing: normal;
  } 
  
  .c2-2  { 
      text-transform: none;
  } 
  
  .c2-3  { 
      font-family: "Source Sans Pro", arial, sans-serif;
  } 
  
  .c2-4  { 
      font-size: 16px;
  } 
  
  @media (min-width: 768px){ 
    .c2-5  { 
      font-size: 16px;
    } 
  }     
  
  @media (min-width: 1024px){ 
    .c2-6  { 
      font-size: 16px;
    } 
  }     
  
  @media (min-width: 1280px){ 
    .c2-7  { 
      font-size: 16px;
    } 
  }     
  
  .c2-g  { 
      display: flex;
  } 
  
  .c2-w  { 
      margin-top: 0px;
  } 
  
  .c2-x  { 
      margin-bottom: 0px;
  } 
  
  .c2-2a  { 
      box-sizing: border-box;
  } 
  
  .c2-2b  { 
      flex-direction: row;
  } 
  
  .c2-2c  { 
      flex-wrap: wrap;
  } 
  
  .c2-2d  { 
      margin-right: -12px;
  } 
  
  .c2-2e  { 
      margin-left: -12px;
  } 
  
  @media (min-width: 768px){ 
    .c2-2f  { 
      margin-top: 0px;
    } 
  
   
  
    .c2-2h  { 
      margin-bottom: 0px;
    } 
  
 
  }     
  
  .c2-t  { 
      max-width: 100%;
  } 
  
  .c2-1c  { 
      padding-top: 0px;
  } 
  
  .c2-1e  { 
      padding-bottom: 0px;
  } 
  
  .c2-2j  { 
      flex-grow: 1;
  } 
  
  .c2-2k  { 
      flex-shrink: 1;
  } 
  
  .c2-2l  { 
      flex-basis: 0%;
  } 
  
  .c2-2m  { 
      padding-right: 12px;
  } 
  
  
  @media (min-width: 768px){ 
    .c2-2o  { 
      padding-top: 0px;
    } 
  
    .c2-2p  { 
      padding-right: 24px;
    } 
  
    .c2-2q  { 
      padding-bottom: 0px;
    } 
  
 
  }     
  
  .x-rt p  { 
      margin: 0;
  } 
  
  .x .c1-5j { 
      line-height: 1.5;
  } 
  
  .x .c1-7i > *  { 
      max-width: 100%;
  } 
  
  .x .c1-8g { 
      color: rgb(145, 145, 145);
  } 
  
  .x .c1-7j > :nth-child(n)  { 
      margin-bottom: 24px;
  } 
  
  .x .c1-1s { 
      flex-direction: column;
  } 
  
  .x .c1-2a { 
      align-items: center;
  } 
  
  .c2-3z  { 
      margin-top: 24px;
  } 
  
  .c2-k  { 
      width: 100%;
  } 
  
  .c2-2s  { 
      margin-left: 0px !important;
  } 
  
  .c2-2t  { 
      border-bottom: 1px solid rgb(191, 191, 191);
  } 
  
  .c2-2u  { 
      padding-bottom: 40px;
  } 
  
  .c2-3y  { 
      padding-top: 40px;
  } 
  
  .c2-j  { 
      cursor: pointer;
  } 
  
  .c2-r  { 
      display: inline-block;
  } 
  
  .c2-1v  { 
      text-decoration: none;
  } 
  
  .c2-1w  { 
      overflow-wrap: break-word;
  } 
  
  .c2-1x  { 
      overflow-wrap: break-word;
  } 
  
  .c2-31  { 
      color: rgb(242, 5, 48);
  } 
  
  .c2-3i  { 
      letter-spacing: inherit;
  } 
  
  .c2-3j  { 
      text-transform: inherit;
  } 
  
  .c2-3l  { 
      user-select: none;
  } 
  
  .c2-3m  { 
      font-weight: inherit;
  } 
  
  .c2-3n:hover  { 
      color: rgb(254, 136, 142);
  } 
  
  .x-el-svg:not(:root) { 
      overflow: hidden;
  } 
  
  .c2-s  { 
      vertical-align: middle;
  } 
  
  .c2-26  { 
      color: inherit;
  } 
  
  .x .c2-3k > :nth-child(2)  { 
      margin-left: 0.25em;
  } 
  
  .c2-1b  { 
      display: none;
  } 
  
  @media (min-width: 768px){ 
    .c2-3p  { 
      display: flex;
    } 
  }     
  
  .c2-2v  { 
      margin-right: 0px;
  } 
  
  .c2-2w  { 
      margin-left: 0px;
  } 
  
  @media (min-width: 768px){ 
    .c2-2x  { 
      display: none;
    } 
  }     
  
  .c2-1d  { 
      padding-right: 0px;
  } 
  
  .c2-1f  { 
      padding-left: 0px;
  } 
  
  .c2-2y  { 
      flex-basis: 100%;
  } 
  
  .c2-2z  { 
      margin-bottom: 4px;
  } 
  
  .c2-3q  { 
      padding-left: 0px !important;
  } 
  
  @media (min-width: 768px){ 
    .c2-3r  { 
      flex-basis: 25%;
    } 
  
    .c2-3s  { 
      max-width: 25%;
    } 
  }     
  
  .c2-3t  { 
      text-align: left;
  } 
  
  @media (min-width: 768px){ 
    .c2-3u  { 
      flex-basis: 50%;
    } 
  
    .c2-3v  { 
      max-width: 50%;
    } 
  }     
  
  .c2-3w  { 
      padding-right: 0px !important;
  } 
  
  .c2-3x  { 
      text-align: right;
  } 
  
  .c2-1z  { 
      font-weight: 400;
  } 
  
  .c2-30  { 
      line-height: 1.25;
  } 
  
  .c2-37  { 
      color: rgb(226, 226, 226);
  } 
  
  .c2-38  { 
      font-size: 22px;
  } 
  
  @media (min-width: 768px){ 
    .c2-39  { 
      font-size: 22px;
    } 
  }     
  
  @media (min-width: 1024px){ 
    .c2-3a  { 
      font-size: 22px;
    } 
  }     
  
  @media (min-width: 1280px){ 
    .c2-3b  { 
      font-size: 22px;
    } 
  }     
  
  .c2-3f  { 
      line-height: 1.5;
  } 
  
  .c2-3g  { 
      margin-top: 16px;
  } 
  
  .c2-3h  { 
      color: rgb(145, 145, 145);
  } 
  
  .x-rt:after { 
      content: ""; 
      clear: both;
  } 
  
  .c2-3d  { 
      padding-left: 8px;
  } 
  
  .c2-3e  { 
      padding-right: 8px;
  } 
  
  @media (max-width: 767px){ 
    .x .c1-m { 
      padding-top: 40px;
    } 
  
    .x .c1-n { 
      padding-bottom: 40px;
    } 
  
    .x .c1-7l > :nth-child(n)  { 
      margin-bottom: 24px;
    } 
  }     
  
  
 .roadmap-section{
  margin-top: 7rem;
 } 