.c1-1  { 
    letter-spacing: normal;
} 

.c1-2  { 
    text-transform: none;
} 

.c1-b  { 
    font-family: 'Source Sans Pro', arial, sans-serif;
} 

.c1-c  { 
    font-size: 16px;
} 

.c1-6z  { 
    background-color: rgb(0, 0, 0);
} 

@media (min-width: 768px){ 
  .c1-d  { 
    font-size: 16px;
  } 
}     

@media (min-width: 1024px){ 
  .c1-e  { 
    font-size: 16px;
  } 
}     

@media (min-width: 1280px){ 
  .c1-f  { 
    font-size: 16px;
  } 
}     

.page-inner { 
    background-color: rgb(0, 0, 0); 
    min-height: 100vh;
} 

.x .c1-5 > div  { 
    position: relative;
} 

.x .c1-6 > div  { 
    overflow: hidden;
} 

.x .c1-7 > div  { 
    margin-top: auto;
} 

.x .c1-8 > div  { 
    margin-right: auto;
} 

.x .c1-9 > div  { 
    margin-bottom: auto;
} 

.x .c1-a > div  { 
    margin-left: auto;
} 

.x .c1-3 { 
    background-color: rgb(255, 255, 255);
} 

.c1-4  { 
    width: 100%;
} 

.x { 
    -ms-text-size-adjust:  100%; 
    -webkit-text-size-adjust:  100%; 
    -webkit-tap-highlight-color:  rgba(0,0,0,0); 
    margin:  0; 
    box-sizing:  border-box;
    -webkit-font-smoothing: antialiased;
} 

.x-el-section { 
    display: block;
} 

.c1-i  { 
    padding-top: 56px;
} 

.c1-j  { 
    padding-bottom: 56px;
} 

* ,:after ,:before  { 
    box-sizing: inherit;
} 

.c1-s  { 
    margin-right: auto;
} 

.c1-u  { 
    margin-left: auto;
} 

.c1-y  { 
    max-width: 100%;
} 

.c1-23  { 
    padding-left: 24px;
} 

.c1-24  { 
    padding-right: 24px;
} 

@media (min-width: 768px){ 
  .c1-4k  { 
    width: 100%;
  } 
}     

@media (min-width: 1024px){ 
  .c1-4l  { 
    width: 984px;
  } 
}     

@media (min-width: 1280px){ 
  .c1-4q  { 
    width: 1160px;
  } 
}     

.c1-r  { 
    margin-top: 0;
} 

.c1-t  { 
    margin-bottom: 0;
} 

.c1-1r  { 
    display: flex;
} 

.c1-2g  { 
    text-align: center;
} 

.c1-3q  { 
    box-sizing: border-box;
} 

.c1-3r  { 
    flex-direction: row;
} 

.c1-60  { 
    flex-wrap: wrap;
} 

.c1-70  { 
    margin-right: -12px;
} 

.c1-71  { 
    margin-left: -12px;
} 

@media (min-width: 768px){ 
  .c1-72  { 
    margin-top: 0;
  } 

  .c1-73  { 
    margin-right: -24px;
  } 

  .x .c1-74 { 
    margin-bottom: 0;
  } 

  .c1-75  { 
    margin-left: -24px;
  } 
}     

.c1-1d  { 
    padding-top: 0px;
} 

.x .c1-1f { 
    padding-bottom: 0px;
} 

.c1-3t  { 
    flex-grow: 1;
} 

.c1-3u  { 
    flex-shrink: 1;
} 

.x .c1-3v { 
    flex-basis: 0%;
} 

.c1-76  { 
    padding-right: 12px;
} 

.c1-77  { 
    padding-left: 12px;
} 

@media (min-width: 768px){ 
  .x .c1-78 { 
    margin-left: 8.333333333333332%;
  } 

  .x .c1-79 { 
    flex-basis: 83.33333333333334%;
  } 

  .x .c1-7a { 
    max-width: 83.33333333333334%;
  } 

  .c1-7b  { 
    padding-top: 0;
  } 

  .c1-7c  { 
    padding-right: 24px;
  } 

  .x .c1-7d { 
    padding-bottom: 0;
  } 

  .c1-7e  { 
    padding-left: 24px;
  } 
}     

@media (min-width: 1024px){ 
  .x .c1-7f { 
    margin-left: 16.666666666666664%;
  } 

  .x .c1-7g { 
    flex-basis: 66.66666666666666%;
  } 

  .x .c1-7h { 
    max-width: 66.66666666666666%;
  } 
}     

.c1-8k  { 
    margin-bottom: -24px;
} 

@media (min-width: 768px){ 
  .c1-8l  { 
    margin-bottom: -48px;
  } 
}     

.c1-22  { 
    padding-bottom: 24px;
} 

.c1-8m  { 
    flex-basis: 100%;
} 

.c1-8u  { 
    flex: 1;
} 

@media (min-width: 768px){ 
  .c1-8n  { 
    padding-bottom: 48px;
  } 
}     

@media (min-width: 1024px){ 
  .c1-8o  { 
    flex-basis: 50%;
  } 

  .c1-8p  { 
    max-width: 50%;
  } 

  .c1-8v  { 
    flex: 1;
  } 
}     

.x .c1-1s { 
    flex-direction: column;
} 

.c1-2a  { 
    align-items: center;
} 

.c1-o  { 
    position: relative;
} 

.c1-2c  { 
    margin-right: 0px;
} 

.c1-2d  { 
    margin-left: 0px;
} 

.c1-2i  { 
    overflow-wrap: break-word;
} 

.c1-2t  { 
    word-wrap: break-word;
} 

.c1-49  { 
    font-weight: 400;
} 

.c1-51  { 
    line-height: 1.25;
} 

.x .c1-52 { 
    font-size: 40px;
} 

.x .c1-7i > *  { 
    max-width: 100%;
} 

.c1-7n  { 
    color: rgb(242, 5, 48);
} 

@media (min-width: 768px){ 
  .x .c1-57 { 
    font-size: 48px;
  } 
}     

@media (min-width: 1024px){ 
  .x .c1-58 { 
    font-size: 48px;
  } 
}     

@media (min-width: 1280px){ 
  .x .c1-59 { 
    font-size: 62px;
  } 
}     

.x .c1-7j > :nth-child(n)  { 
    margin-bottom: 24px;
} 

.c1-p  { 
    height: 100%;
} 

.c1-8w  { 
    border-width: 0 !important;
} 

.c1-2h  { 
    justify-content: center;
} 

.c1-5e  { 
    font-size: 28px;
} 

.c1-69  { 
    padding-bottom: 8px;
} 

@media (min-width: 768px){ 
  .c1-5f  { 
    font-size: 30px;
  } 
}     

@media (min-width: 1024px){ 
  .c1-5g  { 
    font-size: 30px;
  } 
}     

@media (min-width: 1280px){ 
  .c1-5h  { 
    font-size: 32px;
  } 
}     

.x-el-hr { 
    box-sizing:  content-box; 
    height:  0;
    border: 0;
} 

.c1-11  { 
    border-style: solid;
} 

.c1-2l  { 
    display: inline-block;
} 

.c1-6b  { 
    color: rgb(48, 48, 48);
} 

.c1-8q  { 
    border-color: currentColor;
} 

.c1-8r  { 
    border-bottom-width: 2px;
} 

.c1-8s  { 
    width: 40px;
} 

.c1-5j  { 
    line-height: 1.5;
} 

.c1-8t  { 
    color: rgb(226, 226, 226);
} 

.x .c1-7k > :last-child  { 
    margin-bottom: 0 !important;
} 

.x-el-img { 
    vertical-align: middle; 
    border: 0;
} 

.c1-z  { 
    vertical-align: middle;
} 

.c1-1h  { 
    border-radius: 0px;
} 

.c1-8x  { 
    aspect-ratio: 1 / 1;
} 

.x-el-svg:not(:root) { 
    overflow: hidden;
} 

@media (max-width: 767px){ 
  .c1-m  { 
    padding-top: 40px;
  } 

  .c1-n  { 
    padding-bottom: 40px;
  } 

  .x .c1-7l > :nth-child(n)  { 
    margin-bottom: 24px;
  } 

  .c1-8y  { 
    height: calc((100vw - 48px)/1);
  } 
}     


.imagine-section{
  margin-top: -5rem!important;
}