.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 

.c1-1  { 
    letter-spacing: normal;
} 

.c1-2  { 
    text-transform: none;
} 

.c1-b  { 
    font-family: 'Source Sans Pro', arial, sans-serif;
} 

.x .c1-c { 
    font-size: 16px;
} 

.x .c1-h { 
    background-color: rgb(242, 5, 48);
} 

@media (min-width: 768px){ 
  .x .c1-d { 
    font-size: 16px;
  } 
}     

@media (min-width: 1024px){ 
  .x .c1-e { 
    font-size: 16px;
  } 
}     

@media (min-width: 1280px){ 
  .x .c1-f { 
    font-size: 16px;
  } 
}     

.page-inner { 
    background-color: rgb(0, 0, 0); 
    min-height: 100vh;
} 

.x .c1-5 > div  { 
    position: relative;
} 

.x .c1-6 > div  { 
    overflow: hidden;
} 

.x .c1-7 > div  { 
    margin-top: auto;
} 

.x .c1-8 > div  { 
    margin-right: auto;
} 

.x .c1-9 > div  { 
    margin-bottom: auto;
} 

.x .c1-a > div  { 
    margin-left: auto;
} 

.x .c1-3 { 
    background-color: rgb(255, 255, 255);
} 

.c1-4  { 
    width: 100%;
} 

.x { 
    -ms-text-size-adjust:  100%; 
    -webkit-text-size-adjust:  100%; 
    -webkit-tap-highlight-color:  rgba(0,0,0,0); 
    margin:  0; 
    box-sizing:  border-box;
    -webkit-font-smoothing: antialiased;
} 

.x-el-section { 
    display: block;
} 

.x .c1-i { 
    padding-top: 56px;
} 

.x .c1-j { 
    padding-bottom: 56px;
} 

* ,:after ,:before  { 
    box-sizing: inherit;
} 

.x .c1-s { 
    margin-right: auto;
} 

.c1-u  { 
    margin-left: auto;
} 

.x .c1-y { 
    max-width: 100%;
} 

.x .c1-23 { 
    padding-left: 24px;
} 

.x .c1-24 { 
    padding-right: 24px;
} 

@media (min-width: 768px){ 
  .x .c1-4k { 
    width: 100%;
  } 
}     

@media (min-width: 1024px){ 
  .x .c1-4l { 
    width: 984px;
  } 
}     

@media (min-width: 1280px){ 
  .x .c1-4q { 
    width: 1160px;
  } 
}     

.c1-r  { 
    margin-top: 0;
} 

.c1-t  { 
    margin-bottom: 0;
} 

.c1-2c  { 
    margin-right: 0px;
} 

.c1-2g  { 
    text-align: center;
} 

.c1-2i  { 
    overflow-wrap: break-word;
} 

.c1-2t  { 
    word-wrap: break-word;
} 

.c1-49  { 
    font-weight: 400;
} 

.c1-52  { 
    font-size: 40px;
} 

.c1-7n  { 
    color: rgb(242, 5, 48);
} 

.c1-8z  { 
    line-height: 1.4;
} 

@media (min-width: 768px){ 
  .c1-57  { 
    font-size: 48px;
  } 
}     

@media (min-width: 1024px){ 
  .c1-4j  { 
    margin-bottom: 0px;
  } 

  .c1-4n  { 
    margin-left: auto;
  } 

  .c1-4x  { 
    text-align: center;
  } 

  .c1-58  { 
    font-size: 48px;
  } 
}     

@media (min-width: 1280px){ 
  .c1-59  { 
    font-size: 62px;
  } 
}     

.x .c1-90 { 
    margin-bottom: 40px;
} 

.x .c1-6z { 
    background-color: rgb(0, 0, 0);
} 

.c1-95  { 
    line-height: 0px;
} 

.x-el-hr { 
    box-sizing:  content-box; 
    height:  0;
    border: 0;
} 

.c1-11  { 
    border-style: solid;
} 

.c1-2l  { 
    display: inline-block;
} 

.c1-5y  { 
    margin-top: 24px;
} 

.c1-8r  { 
    border-bottom-width: 2px;
} 

.c1-96  { 
    border-color: rgb(27, 27, 27);
} 

.c1-97  { 
    width: 50px;
} 

@media (max-width: 767px){ 
  .x .c1-m { 
    padding-top: 40px;
  } 

  .x .c1-n { 
    padding-bottom: 40px;
  } 
}     

.faqh{
  margin-top: 9rem!important;
}
