    .c1-1  { 
      letter-spacing: normal;
  } 
  
  .c1-2  { 
      text-transform: none;
  } 
  
  .c1-b  { 
      /* font-family: 'Source Sans Pro', arial, sans-serif;
       */
  font-family: Abel,sans-serif;

  } 
  
  .c1-c  { 
      font-size: 16px;
  } 
  
  .c1-6z  { 
      /* background-color: rgb(0, 0, 0);
       */
       background-color: white;
  } 
  
  @media (min-width: 768px){ 
    .c1-d  { 
      font-size: 16px;
    } 
  }     
  
  @media (min-width: 1024px){ 
    .c1-e  { 
      font-size: 16px;
    } 
  }     
  
  @media (min-width: 1280px){ 
    .c1-f  { 
      font-size: 16px;
    } 
  }     
  
  .page-inner { 
      /* background-color: rgb(0, 0, 0);  */
      background-color: white;
      min-height: 100vh;
  } 
  
  .x .c1-5 > div  { 
      position: relative;
  } 
  
  .x .c1-6 > div  { 
      overflow: hidden;
  } 
  
  .x .c1-7 > div  { 
      margin-top: auto;
  } 
  
  .x .c1-8 > div  { 
      margin-right: auto;
  } 
  
  .x .c1-9 > div  { 
      margin-bottom: auto;
  } 
  
  .x .c1-a > div  { 
      margin-left: auto;
  } 
  
  .x .c1-3 { 
      background-color: rgb(255, 255, 255);
  } 
  
  .c1-4  { 
      width: 100%;
  } 
  
  .x { 
      -ms-text-size-adjust:  100%; 
      -webkit-text-size-adjust:  100%; 
      -webkit-tap-highlight-color:  rgba(0,0,0,0); 
      margin:  0; 
      box-sizing:  border-box;
      -webkit-font-smoothing: antialiased;
  } 
  
  .x-el-section { 
      display: block;
  } 
  
  .c1-i  { 
      padding-top: 56px;
  } 
  
  .c1-j  { 
      padding-bottom: 56px;
  } 
  
  * ,:after ,:before  { 
      box-sizing: inherit;
  } 
  
  .c1-s  { 
      margin-right: auto;
  } 
  
  .c1-u  { 
      margin-left: auto;
  } 
  
  .c1-y  { 
      max-width: 100%;
  } 
  
  .c1-23  { 
      padding-left: 24px;
  } 
  
  .c1-24  { 
      padding-right: 24px;
  } 
  
  @media (min-width: 768px){ 
    .c1-4k  { 
      width: 100%;
    } 
  }     
  
  @media (min-width: 1024px){ 
    .c1-4l  { 
      width: 984px;
    } 
  }     
  
  @media (min-width: 1280px){ 
    .c1-4q  { 
      width: 1160px;
    } 
  }     
  
  .c1-r  { 
      margin-top: 0;
  } 
  
  .c1-2c  { 
      margin-right: 0px;
  } 
  
  .c1-2g  { 
      text-align: center;
  } 
  
  .c1-2i  { 
      overflow-wrap: break-word;
  } 
  
  .c1-2t  { 
      word-wrap: break-word;
  } 
  
  .c1-49  { 
      font-weight: 400;
  } 
  
  .c1-52  { 
      font-size: 40px;
  } 
  
  .c1-7n  { 
      color: rgb(242, 5, 48);
  } 
  
  .c1-8z  { 
      line-height: 1.4;
  } 
  
  .c1-90  { 
      margin-bottom: 40px;
  } 
  
  @media (min-width: 768px){ 
    .c1-57  { 
      font-size: 48px;
    } 
  }     
  
  @media (min-width: 1024px){ 
    .c1-4n  { 
      margin-left: auto;
    } 
  
    .c1-4x  { 
      text-align: center;
    } 
  
    .c1-58  { 
      font-size: 48px;
    } 
  }     
  
  @media (min-width: 1280px){ 
    .c1-59  { 
      font-size: 62px;
    } 
  }     
  
  .c1-1r  { 
      display: flex;
  } 
  
  .c1-2h  { 
      justify-content: center;
  } 
  
  .c1-3q  { 
      box-sizing: border-box;
  } 
  
  .c1-3r  { 
      flex-direction: row;
  } 
  
  .c1-60  { 
      flex-wrap: wrap;
  } 
  
  .c1-70  { 
      margin-right: -12px;
  } 
  
  .c1-71  { 
      margin-left: -12px;
  } 
  
  .c1-8k  { 
      margin-bottom: -24px;
  } 
  
  @media (min-width: 768px){ 
    .c1-72  { 
      margin-top: 0;
    } 
  
    .c1-73  { 
      margin-right: -24px;
    } 
  
    .c1-75  { 
      margin-left: -24px;
    } 
  
    .c1-8l  { 
      margin-bottom: -48px;
    } 
  }     
  
  .c1-4f  { 
      color: inherit;
  } 
  
  .c1-91  { 
      font-size: unset;
  } 
  
  .c1-92  { 
      /* font-family: unset; */
  font-family: Abel,sans-serif;

  } 
  
  .c1-93  { 
      letter-spacing: unset;
  } 
  
  .c1-94  { 
      text-transform: unset;
  } 
  
  .c1-95  { 
      line-height: 0px;
  } 
  
  .c1-1d  { 
      padding-top: 0px;
  } 
  
  .c1-22  { 
      padding-bottom: 24px;
  } 
  
  .c1-3t  { 
      flex-grow: 1;
  } 
  
  .c1-3u  { 
      flex-shrink: 1;
  } 
  
  .c1-76  { 
      padding-right: 12px;
  } 
  
  .c1-77  { 
      padding-left: 12px;
  } 
  
  .c1-8m  { 
      flex-basis: 100%;
  } 
  
  @media (min-width: 768px){ 
    .c1-7b  { 
      padding-top: 0;
    } 
  
    .c1-7c  { 
      padding-right: 24px;
    } 
  
    .c1-7e  { 
      padding-left: 24px;
    } 
  
    .c1-8n  { 
      padding-bottom: 48px;
    } 
  
    .c1-98  { 
      flex-basis: 50%;
    } 
  
    .c1-99  { 
      max-width: 50%;
    } 
  }     
  
  @media (min-width: 1024px){ 
    .c1-3w  { 
      flex-basis: 33.33333333333333%;
    } 
  
    .c1-3x  { 
      max-width: 33.33333333333333%;
    } 
  }     
  
  .x-el-hr { 
      box-sizing:  content-box; 
      height:  0;
      border: 0;
  } 
  
  .c1-t  { 
      margin-bottom: 0;
  } 
  
  .c1-11  { 
      border-style: solid;
  } 
  
  .c1-2l  { 
      display: inline-block;
  } 
  
  .c1-5y  { 
      margin-top: 24px;
  } 
  
  .c1-8r  { 
      border-bottom-width: 2px;
  } 
  
  .c1-96  { 
      border-color: rgb(27, 27, 27);
  } 
  
  .c1-97  { 
      width: 50px;
  } 
  
  .c1-o  { 
      position: relative;
  } 
  
  .c1-1s  { 
      flex-direction: column;
  } 
  
  .c1-1u  { 
      justify-content: flex-start;
  } 
  
  .c1-2a  { 
      align-items: center;
  } 
  
  .x .c1-7i > *  { 
      max-width: 100%;
  } 
  
  @media (min-width: 1024px){ 
    .c1-9c  { 
      display: block;
    } 
  }     
  
  .x .c1-7j > :nth-child(n)  { 
      margin-bottom: 24px;
  } 
  
  .c1-5j  { 
      line-height: 1.5;
  } 
  
  .c1-8g  { 
      color: rgb(145, 145, 145);
  } 
  
  .x .c1-7k > :last-child  { 
      margin-bottom: 0 !important;
  } 
  
  .x-rt:after { 
      content: ""; 
      clear: both;
  } 
  
  .c1-w  { 
      top: 0px;
  } 
  
  .c1-2d  { 
      margin-left: 0px;
  } 
  
  .c1-51  { 
      line-height: 1.25;
  } 
  
  .c1-5o  { 
      font-size: 22px;
  } 
  
  .c1-8t  { 
      /* color: rgb(226, 226, 226); */
      color: black;
  } 
  
  .c1-9d  { 
      width: inherit;
  } 
  
  @media (min-width: 768px){ 
    .c1-5p  { 
      font-size: 22px;
    } 
  
    .c1-9e  { 
      position: absolute;
    } 
  }     
  
  @media (min-width: 1024px){ 
    .c1-5q  { 
      font-size: 22px;
    } 
  }     
  
  @media (min-width: 1280px){ 
    .c1-5r  { 
      font-size: 22px;
    } 
  }     
  
  .x .c1-9a > :nth-child(n)  { 
      margin-bottom: 0px;
  } 
  
  .c1-q  { 
      position: absolute;
  } 
  
  .c1-3d  { 
      visibility: hidden;
  } 
  
  .c1-5z  { 
      margin-bottom: 24px;
  } 
  
  @media (min-width: 1024px){ 
    .c1-9f  { 
      position: relative;
    } 
  }     
  
  .x-rt p  { 
      margin: 0;
  } 
  
  .x-el-img { 
      vertical-align: middle; 
      border: 0;
  } 
  
  .c1-z  { 
      vertical-align: middle;
  } 
  
  .c1-1h  { 
      border-radius: 0px;
  } 
  
  .c1-3e  { 
      width: auto;
  } 
  
  .c1-9h  { 
      aspect-ratio: 2 / 1;
  } 
  
  @media (min-width: 768px){ 
    .c1-9j  { 
      object-fit: cover;
    } 
  }     
  
  .c1-2q  { 
      letter-spacing: inherit;
  } 
  
  .c1-2r  { 
      text-transform: inherit;
  } 
  
  .c1-35  { 
      font-weight: 700;
  } 
  
  .c1-5t  { 
      font-size: inherit !important;
  } 
  
  .c1-5u  { 
      line-height: inherit;
  } 
  
  @media (max-width: 767px){ 
    .c1-m  { 
      padding-top: 40px;
    } 
  
    .c1-n  { 
      padding-bottom: 40px;
    } 
  
    .x .c1-7l > :nth-child(n)  { 
      margin-bottom: 24px;
    } 
  
    .x .c1-7m > :last-child  { 
      margin-bottom: 0 !important;
    } 
  
    .c1-9i  { 
      height: calc((100vw - 48px)/2);
    } 
  }     
  
  @media (min-width: 768px) and (max-width: 1023px){ 
    .c1-9b  { 
      display: block;
    } 
  
    .c1-9g  { 
      position: relative;
    } 
  }     
 
  .utlisec{
    margin-top: 10rem;
  }
  
  .util-section{
    margin-top: -6rem;
  }